#include <windows.h>

100 TYPELIB "Release/ImpLibEditorCore.tlb"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     0,0,0,0
    PRODUCTVERSION  0,0,0,0
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_UNKNOWN
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "0800FDE9"
        {
            VALUE "Comments", ""
            VALUE "CompanyName", ""
            VALUE "FileDescription", ""
            VALUE "FileVersion", ""
            VALUE "InternalName", ""
            VALUE "LegalCopyright", "SoraYuki (LeiMing)"
            VALUE "LegalTrademarks", ""
            VALUE "OriginalFilename", "ImpLibEditorCore.dll"
            VALUE "PrivateBuild", ""
            VALUE "ProductName", "Import Library Editor Core Module"
            VALUE "ProductVersion", ""
            VALUE "SpecialBuild", ""
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0800, 0xFDE9
    }
}
